@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@import "tailwindcss/utilities";

@theme {
    /* Base colors */
    --color-body: rgba(247, 245, 242, 1);
    --color-footer: rgba(31, 31, 31, 1);


    /*nav_menu*/
    --color-menu-hover: #7C632F;
    --color-menu-border: rgba(95, 95, 95, 0.18);
    --color-menu-bg: rgba(247, 245, 242, 1);

    /*text colors*/
    --color-primary: #fff;
    --color-secondary: #000000;
    --color-tertiary: #7C632F;
    --color-quaternary: #1A1A1A;
    --color-about: #5F5F5F;
    ;

    /*caption colors*/
    --color-card-booking: rgba(242, 237, 229, 1);


    /*caption colors*/
    --color-caption: #B39659;
    --color-border-caption: #B39659;
    --color-icon: #916B1C;

    --color-card-bg: #fff;
    --color-card-quote: #7C632F;
    --color-bg-signature: #7C632F;

    /*form colors*/
    --color-label-input: #5F5F5F;
    --color-form-border: rgba(145, 107, 28, 0.61);
    --color-form-btn: rgba(124, 99, 47, 1);
    --color-focus-border: #C7AB73;
    --color-form-icon: rgba(183, 183, 183, 1);
    --shadow-form-card: 4px 4px 4px 2px rgba(145, 107, 28, 0.10);
    --shadow-form-btn: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
    ;

    /* btn custom */
    --color-btn-bg: #7C632F;
    --color-btn-border: rgba(26, 26, 26, 0.35);
    --color-btn-outline: rgba(255, 255, 255, 1);
    --color-btn-dsih-border: rgba(0, 0, 0, 1);

    --color-btn-text: rgba(124, 99, 47, 1);
    --color-button-hover-bg: rgba(100, 80, 38, 1);


    /* footer */
    --color-primary-footer: #5F5F5F;
    --color-secondary-footer: #CCCCCC;
    --color-secondary-footer-hover: #E2E2E2;
    --color-footer-icon: #CBA964;
    --color-footer-copyright: #FFFFFF;

    /* LoginNav */
    --color-icon-overlay: rgba(255, 255, 255, 0.18);
    --color-hover-icon: rgba(255, 255, 255, 0.3);


    /* fonts */
    --font-cormorant: "Cormorant Garamond", serif;
    --font-inter: "Inter", sans-serif;
}

:root {
    --font-inter: "Inter", sans-serif;
    ;
}

html {
    font-family: var(--font-inter);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--color-body);
    color: var(--color-secondary);
    list-style: none;
    overflow-x: hidden;
}